@page "/alunos"
@using Microsoft.AspNetCore.Components
@inject AlunoService AlunoService
@inject IJSRuntime JSRuntime
@inject NavigationManager Navigation

<PageTitle>Alunos - BalletSync</PageTitle>

<div class="row card p-3 mb-3">
	<div class="d-flex justify-content-between">
		<h3>Lista de Alunos</h3>
		<button class="btn btn-primary" type="button" @onclick="NovoAluno">Novo Aluno</button>
	</div>
</div>

@if (alunos == null || planos == null)
{
	<p>Carregando...</p>
}
else if (alunos.Count == 0)
{
	<p>Não há alunos cadastrados.</p>
}
else
{
	<table class="table table-bordered">
		<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Nome</th>
				<th scope="col">CPF</th>
				<th scope="col">Telefone</th>
				<th scope="col">Cep</th>
				<th scope="col">Estado</th>
				<th scope="col">Cidade</th>
				<th scope="col">Bairro</th>
				<th scope="col">Endereco</th>
				<th scope="col">Complemento</th>
				<th scope="col">Tipo de Plano</th>
				<th scope="col">Status</th>
				


			</tr>
		</thead>
		<tbody>
			@foreach (var aluno in alunos)
			{
				var plano = GetPlanoById(aluno.IdPlano);
				<tr>
					<th scope="row">@aluno.Id</th>
					<td>@aluno.Nome</td>
					<td>@aluno.CPF</td>
					<td>@aluno.Telefone</td>
					<td>@aluno?.Cep</td>
					<td>@aluno.Estado</td>
					<td>@aluno.Cidade</td>
					<td>@aluno?.Bairro</td>
					<td>@aluno?.Endereco</td>
					<td>@aluno?.Complemento</td>
					<td>@aluno.NomePlano</td>
					<td>@(aluno.Ativo ? "Ativo" : "Inativo")</td>
					<td>
						<button class="btn btn-sm btn-primary" @onclick="() => EditarAluno(aluno.Id)">Editar</button>
						<button class="btn btn-sm btn-danger" @onclick="() => ApagarAluno(aluno.Id)">Apagar</button>
					</td>
				</tr>
			}
		</tbody>
	</table>
}

@code {
	private List<Aluno> alunos;
	private List<Plano> planos;

	protected override async Task OnInitializedAsync()
	{
		alunos = await AlunoService.GetAlunosAsync();
		planos = await AlunoService.GetPlanosAsync();
	}

	private Plano GetPlanoById(int idPlano)
	{
		return planos?.Find(p => p.Id == idPlano);
	}

	private void NovoAluno()
	{
		Navigation.NavigateTo("/alunos/novo", true);
	}

	private void EditarAluno(int id)
	{
		Navigation.NavigateTo($"/alunos/editar/{id}");
	}

	private async Task ApagarAluno(int id)
	{
		var confirmar = await JSRuntime.InvokeAsync<bool>("confirm", "Deseja realmente apagar este Aluno?");
		if (confirmar)
		{
			await AlunoService.DeleteAlunoAsync(id);
			alunos = await AlunoService.GetAlunosAsync();
		}
	}
}
